<form action="/user/add" method="post">

  <div>
    <input type="text" name="product_name" placeholder="Product Name"/>
  </div>

  <div>
    <input type="text" name="description" placeholder="Description"/>
  </div>

  <div>
    <input type="text" name="product_image" placeholder="Paste Image URL here" />
  </div>

  <div>
    <input type="money" name="price" placeholder="Enter Price Here"/>
  </div>

  <div>
    <input type="number" name="product_quantity" placeholder="Enter Quantity Here"/>
  </div>

  <div>
    <input type="submit" value="Swap!"/>
  </div>
</form>