<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/cart">Cart (<%= session[:cart].count%>)</a></li>
          <% if current_user? %>
          <li><a href="/users">User Profile</a></li>
          <li><a href="/session/logout">Log Out</a></li>
          <% else %>
          <li><a href="/session/login">Log In</a> or <a href="/session/sign_up">Sign Up</a></li>
          <% end %>
        </ul>
      </nav>

      <% unless @errors.empty? %>
      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
      <% end %>

    </header>

    <%= yield %>

  </body>
</html>